*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.center-wr{
    margin: 0 auto;
    width: 1200px;
}

// header top
.header-top{
    background-color: #000;
    .contact-info{
        padding: 10px 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        div{
            display: flex;
            gap: 10px;
            align-items: center;
            span{
                svg{
                    color: #ff8a1d;
                }
            }
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.header-bottom{
    background-color: #d1e3ff;
    padding: 15px 0px;
    .top-header-inner{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        a{
            text-decoration: none;
            font-size: 25px;
            font-weight: bold;
            text-transform: uppercase;
        }
        .menu{
            ul{
                list-style: none;
                display: flex;
                margin: 0 !important;
                padding: 0 !important;
                gap: 25px;
                li{
                    a{
                        text-decoration: none;
                        font-size: 17px;
                        font-weight: unset;
                        text-transform: unset;
                        color: #000;
                        transition: .4s;
                        &:hover{
                            color: #0355cc;
                        }
                    }
                }
            }
        }
    }
}
// banner style
.banner{
    background-color: #d1e3ff;
    .banner-content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .benner-text{
            width: 50%;
            margin: 130px 0px;
            padding: 30px 0px;
            h2{
                font-size: 45px;
                color: #0355cc;
            }
            a{
                padding: 8px 0px;
                text-decoration: none;
                background-color: #ff8a1d;
                border: 1px solid #ff8a1d;
                display: block;
                width: 180px;
                text-align: center;
                margin-top: 20px;
            }
        }
        img{
            object-fit: contain;
        }
    }
}

// feature section
.feature-section{
    margin-top: -78px;
    padding-bottom: 80px;
    .feature-cards{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        .feature-card{
            width: 31%;
            text-align: center;
            padding: 45px 15px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 0px 7px rgba(0,0,0,0.5);
            transition: .4s;
            &:hover{
                background-color: #ff8a1d;
            }
            svg{
                font-size: 55px;
                margin-bottom: 15px;
            }
            h3{
                font-size: 17px;
                font-weight: 600;
            }
        }
        .feature-card:nth-child(2){
            background-color: #ff8a1d;
        }
    }
}

.about-us{
    padding: 20px 0px 80px 0px;
    .about-us-content{
        display: flex;
        flex-wrap: wrap;
        .about-text{
            width: 50%;
            padding: 80px 0px;
            h2{
                font-size: 37px;
                text-transform: uppercase;
                font-weight: 600;
            }
            p{
                margin-bottom: 10px;
            }
        }
        .about-image{
            width: 50%;
            img{
                padding: 0px 10px;
                width: 100%;
            }
        }
    }
}

// professaionl sytle
.we-provide{
    padding: 60px 0px 0px 20px;
    background-color: #d1e3ff;
    .we-provide-content{
        display: flex;
        flex-wrap: wrap;
        .we-provide-text{
            width: 50%;
            padding: 148px 0px;
            h2{
                font-size: 37px;
                color: #0355cc;
                text-transform: uppercase;
                font-weight: 600;
            }
            p{
                padding: 20px 0px;
            }
        }
        .we-image{
            width: 50%;
            img{
                padding: 0px 10px;
                width: 100%;
            }
        }
    }
}

// our services
.our-services{
    padding: 80px 0px;
    h2{
        text-align: center;
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 45px;
    }
    .our-service-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        .service-card{
            width: 30%;
            padding: 40px 15px;
            box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
            text-align: center;
            transition: .4s;
            img{
                height: 65px;
                width: 65px;
            }
            &:hover{
                background-color: #ff8a1d;
                color: #fff;
            }
        }
    }
}

// what say style
.what-say{
    padding: 80px 0px;
    h2{
        text-align: center;
        font-size: 45px;
        margin-bottom: 45px;
    }
    .what-say-clinets{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        .clients-card{
            width:47%;
            box-shadow: 0px 0px 8px rgba(0,0,0,0.5);
            padding: 20px;
            .profile{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                gap: 20px;
                margin-bottom: 15px;
                img{
                    border-radius: 50%;
                }
                .stars{
                    display: flex;
                    gap: 3px;
                    svg{
                        color: #ff8a1d;
                    }
                }
            }
        }
    }
}
// contact us style
.contact-us{
    padding: 80px 0px;
    h2{
        font-size: 45px;
        margin-bottom: 45px;
    }
    .contact-us-inner{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        .contact-form{
            width: 48%;
            .form-field{
                margin-bottom: 25px;
            }
            input[type="text"],textarea{
                padding: 15px 20px;
                width: 100%;
                box-shadow: 1px 0px 6px rgba(0,0,0,0.2);
                outline: none;
                border: none;
                resize: none;
            }
            .send-btn{
                outline: none;
                border: none;
                background-color: #0355cc;
                text-transform: uppercase;
                color: #fff;
                padding: 8px 20px;
                width: 120px;
                font-size: 17px;
                transition: .4s;
                border-radius: 8px;
                &:hover{
                    background-color: #ff8a1d;
                }
            }
        }
        .google-map{
            width: 48%;
            position: relative;
            padding-bottom: 48%;
            height: 0;
            overflow: hidden;
            max-width: 100%;
            background: #eee;
            .map-container iframe {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 0;
            }
        }
    }
}

.get-in-touch{
    padding: 80px 0px;
    background-color: #0a0f43;
    text-align: center;
    h2{
        font-size: 45px;
        margin-bottom: 45px;
        text-align: center;
        color: #fff;
    }
    .touch-contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .location,.call,.mail{
            width: 30%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 31px;
            position: relative;
            span{
                background: #0355cc;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .4s;
                border-radius: 50%;
                &:hover{
                    background-color: #ff8a1d;
                }  
                svg{
                    color: #fff;
                }
            }
            p{
                color: #fff;
            }
        }
        .location::after,.call::after{
            content: "";
            height: 2px;
            width: 310px;
            background-color: #fff;
            position: absolute;
            top: 25px;
            left: 205px;
        }
    }
    .follow-us{
        margin-top: 50px;
        h3{
            color: #fff;
            font-size: 30px;
            margin-bottom: 15px;
        }
        ul{
            list-style: none;
            margin: 0 !important;
            padding: 0 !important;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            li{
                a{
                    text-decoration: none;
                    color: #fff;
                    transition: .4s;
                    &:hover{
                        color: #ff8a1d;
                    }
                }

            }
        }
    }
}

// common btn
.link-btn{
    text-decoration: none;
    display: block;
    background-color: #0355cc;
    width: 180px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding: 10px 0px;
    margin-top: 25px;
    transition: .4s;
    border-radius: 8px;
    &:hover{
        background-color: #ff8a1d;
    }
}

.read-btn{
    background-color: #ff8a1d;
    &:hover{
        background-color: #0355cc;
    }
}